<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多账户</title>
    <script src="static/jquery.min.js">
    </script>
</head>

<body>
<button class="btn8">点击登录CTP</button>
<div></div><br/>
<button class="btn12">账户信息查看</button>
<br/><br/>
<div id="createtable"></div>
{#    <p>账户1：
        <input type="text" id ="NAME">
        <input type="text" id ="AGE">
        <input type="text" id ="margin">
        <input type="text" id ="available">
        <input type="text" id ="commission">
        <input type="text" id ="closeProfit">
        <input type="text" id ="positionProfit">
        <input type="text" id ="preBalance">
    </p>
        <p>账户2：
        <input type="text" id ="NAME2">
        <input type="text" id ="AGE2">
        <input type="text" id ="margin2">
        <input type="text" id ="available2">
        <input type="text" id ="commission2">
        <input type="text" id ="closeProfit2">
        <input type="text" id ="positionProfit2">
        <input type="text" id ="preBalance2">
    </p>#}
<script>
$(document).ready(function() {
    $(".btn8").click(function () {
        alert("need time to login, waiting serval seconds");
        $.getJSON("/mydict", function (data) {
            $.each(data, function (i, field) {
                $("div").append(field + " ");
            });
        });
    });
})
</script>
<script>
$(document).ready(function(){
    $(".btn12").click(function(){
        alert("账户信息实时刷新开启,请等候几秒");
        setInterval(function () {
            $.getJSON("/mytable",function(data){
                console.log(data)
                if(data.length > 0)
                {
                    $("#createtable").empty();
                    var table=$("<table border='1' cellspacing='0'> </table>");
                    table.appendTo($("#createtable"));
                    var trh=$("<tr></tr>");
                    trh.appendTo(table);
                    for(var h=0; h<data[0].length; h++)
                    {
                        var th = $("<th>" +data[0][h]+"</th>");
                        th.appendTo(trh);
                    }
                    for(var r=1; r<data.length; r++)
                    {
                        var tr=$("<tr></tr>");
                        tr.appendTo(table);
                        for(var j=0;j<data[r].length;j++)
                        {
                            var td=$("<td>"+data[r][j]+"</td>");
                            td.appendTo(tr);
                        }
                    }
                }

            });
           }, 2000);
        });
    })
</script>




{#    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>#}
{#	<script>#}
{#        $(function() {#}
{#            setInterval(function () {#}
{#                $.ajax({#}
{#                    url: "test_post/account_1",#}
{#                    type: "POST",#}
{#                    dataType: "json",#}
{##}
{#                    contentType: "application/json;charset=utf-8",#}
{#                    success: function (data) {#}
{#                        // alert(data.name + ":" + data.age);#}
{##}
{#                        $("#NAME").val(data.accountID);#}
{##}
{#                        $("#AGE").val(data.balance);#}
{#                        $("#margin").val(data.margin);#}
{#                        $("#available").val(data.available);#}
{#                        $("#commission").val(data.commission);#}
{#                        $("#closeProfit").val(data.closeProfit);#}
{#                        $("#positionProfit").val(data.positionProfit);#}
{#                        $("#preBalance").val(data.preBalance);#}
{#                        console.log(data)#}
{#                    }#}
{##}
{#                });#}
{#            }, 2000);#}
{#        })#}
{#	</script>#}

{#    	<script>
        $(function() {
            setInterval(function () {
                $.ajax({
                    url: "test_post_2/account_2",
                    type: "POST",
                    dataType: "json",

                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        // alert(data.name + ":" + data.age);

                        $("#NAME2").val(data.accountID);

                        $("#AGE2").val(data.balance);
                        $("#margin2").val(data.margin);
                        $("#available2").val(data.available);
                        $("#commission2").val(data.commission);
                        $("#closeProfit2").val(data.closeProfit);
                        $("#positionProfit2").val(data.positionProfit);
                        $("#preBalance2").val(data.preBalance);
                        console.log(data)
                    }

                });
            }, 2100);
        })
	</script>#}


{#    <script>#}
{#        $(function() {#}
{#            // body...#}
{#            $("#btn").click(function(){#}
{#                $.ajax({#}
{#                url: "test_post/nn",#}
{#                type: "POST",#}
{#                dataType: "json",#}
{#                success: function (data) {#}
{#                 alert(data.name + ":" + data.age);#}
{#                $("#NAME2").val(data.name);#}
{#                $("#AGE2").val(data.age);#}
{#                console.log(data)}#}
{#                })#}
{#            })#}
{#        })#}
{#    </script>#}

</body>
</html>
